## Leitura dos dados

In [1]:
import os
import pandas as pd
from IPython.display import display

max_candidatos = 50000

# Encontra os arquivos .csv na pasta data/microdados_enem_2022/DADOS
dados_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'data', 'microdados_enem_2022', 'DADOS'))
arquivos = {
    'microdados': 'MICRODADOS_ENEM_2022.csv',
    'questionario': 'QUEST_HAB_ESTUDO.csv',
    'itens_prova': 'ITENS_PROVA_2022.csv'
}

# Lê os arquivos
df_microdados = pd.read_csv(os.path.join(dados_path, arquivos['microdados']), sep=';', encoding='ISO-8859-1')
df_questionario = pd.read_csv(os.path.join(dados_path, arquivos['questionario']), sep=';', encoding='ISO-8859-1')
df_itens_prova = pd.read_csv(os.path.join(dados_path, arquivos['itens_prova']), sep=';', encoding='ISO-8859-1')

# Renomeia as colunas do questionário de hábitos de estudo que começam com 'Q', adicionando o sufixo '_hab'
df_questionario = df_questionario.rename(columns={col: col + '_hab' for col in df_questionario.columns if col.startswith('Q')})

# Realiza o join entre os microdados e o questionário com base na coluna NU_INSCRICAO
df = df_microdados.merge(df_questionario, on='NU_INSCRICAO', how='left')
del df_microdados, df_questionario

# Aplica uma amostragem aleatória de "max_candidatos" linhas
if len(df) > max_candidatos:
    df = df.sample(n=max_candidatos, random_state=111)

display(df_itens_prova)
display(df)

,CO_POSICAO,SG_AREA,CO_ITEM,TX_GABARITO,CO_HABILIDADE,IN_ITEM_ABAN,TX_MOTIVO_ABAN,NU_PARAM_A,NU_PARAM_B,NU_PARAM_C,TX_COR,CO_PROVA,TP_LINGUA,IN_ITEM_ADAPTADO
0,46,CH,140506,D,26,0,NaN,0.98121,1.34897,0.06218,AZUL,1055,NaN,0
1,90,CH,111984,A,3,0,NaN,1.90716,1.36087,0.22521,AZUL,1055,NaN,0
2,89,CH,140190,C,5,0,NaN,1.94428,0.27387,0.14788,AZUL,1055,NaN,0
3,88,CH,96516,E,2,0,NaN,1.96743,2.20588,0.08863,AZUL,1055,NaN,0
4,87,CH,140572,B,19,0,NaN,2.46583,0.73772,0.17053,AZUL,1055,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5360,96,CN,83901,B,8,0,NaN,0.40583,2.51676,0.00918,CINZA,1190,NaN,0
5361,95,CN,88655,D,4,0,NaN,3.82953,0.85524,0.11511,CINZA,1190,NaN,0
5362,94,CN,141503,C,3,0,NaN,2.86161,0.49480,0.16060,CINZA,1190,NaN,0
5363,93,CN,82765,E,1,0,NaN,0.98394,1.03388,0.00428,CINZA,1190,NaN,0
5364,92,CN,75845,D,1,1,BLG não rodou,NaN,NaN,NaN,CINZA,1190,NaN,0

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q033B_hab,Q033C_hab,Q033D_hab,Q033E_hab,Q033F_hab,Q033G_hab,Q033H_hab,Q033I_hab,Q033J_hab,Q034_hab
1627841,210056517269,2022,2,F,1,2,1,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
742080,210057083270,2022,2,F,1,2,1,2,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1206379,210057631375,2022,3,F,1,3,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2879132,210055561481,2022,10,M,1,1,1,1,7,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296373,210056676350,2022,2,F,1,3,1,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2534154,210057002817,2022,3,M,1,0,1,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2965498,210057767703,2022,2,F,1,1,1,3,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2945476,210056569478,2022,3,M,1,1,1,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96359,210055446081,2022,4,F,1,1,1,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
723420,210056112048,2022,2,F,1,2,1,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Pré-processamento

In [2]:
# Mantém apenas as colunas mais relevantes
df = df[[
    'NU_INSCRICAO',
    # 'NU_ANO',               -- Irrelevante, todos os valores são 2022
    'TP_FAIXA_ETARIA',
    'TP_SEXO',
    'TP_ESTADO_CIVIL',
    'TP_COR_RACA',
    'TP_NACIONALIDADE',
    'TP_ST_CONCLUSAO',
    'TP_ANO_CONCLUIU',
    'TP_ESCOLA',
    'TP_ENSINO',
    'IN_TREINEIRO',
    # 'CO_MUNICIPIO_ESC',     -- ID irrelevante
    'NO_MUNICIPIO_ESC',
    # 'CO_UF_ESC',            -- ID irrelevante
    'SG_UF_ESC',
    'TP_DEPENDENCIA_ADM_ESC',
    'TP_LOCALIZACAO_ESC',
    'TP_SIT_FUNC_ESC',
    # 'CO_MUNICIPIO_PROVA',   -- ID irrelevante
    'NO_MUNICIPIO_PROVA',
    # 'CO_UF_PROVA',          -- ID irrelevante
    'SG_UF_PROVA',
    'TP_PRESENCA_CN',
    'TP_PRESENCA_CH',
    'TP_PRESENCA_LC',
    'TP_PRESENCA_MT',
    # 'CO_PROVA_CN',          -- ID irrelevante
    # 'CO_PROVA_CH',          -- ID irrelevante
    # 'CO_PROVA_LC',          -- ID irrelevante
    # 'CO_PROVA_MT',          -- ID irrelevante
    'NU_NOTA_CN',
    'NU_NOTA_CH',
    'NU_NOTA_LC',
    'NU_NOTA_MT',
    # 'TX_RESPOSTAS_CN',      -- Os vetores de respostas não interessam a princípio, pois já temos as notas
    # 'TX_RESPOSTAS_CH',      -- Os vetores de respostas não interessam a princípio, pois já temos as notas
    # 'TX_RESPOSTAS_LC',      -- Os vetores de respostas não interessam a princípio, pois já temos as notas
    # 'TX_RESPOSTAS_MT',      -- Os vetores de respostas não interessam a princípio, pois já temos as notas
    'TP_LINGUA',
    # 'TX_GABARITO_CN',       -- Os vetores de gabaritos não interessam a princípio, pois já temos as notas
    # 'TX_GABARITO_CH',       -- Os vetores de gabaritos não interessam a princípio, pois já temos as notas
    # 'TX_GABARITO_LC',       -- Os vetores de gabaritos não interessam a princípio, pois já temos as notas
    # 'TX_GABARITO_MT',       -- Os vetores de gabaritos não interessam a princípio, pois já temos as notas
    'TP_STATUS_REDACAO',
    # 'NU_NOTA_COMP1',        -- Informação muito detalhada sobre a composição da nota de redação, não será usada aqui
    # 'NU_NOTA_COMP2',        -- Informação muito detalhada sobre a composição da nota de redação, não será usada aqui
    # 'NU_NOTA_COMP3',        -- Informação muito detalhada sobre a composição da nota de redação, não será usada aqui
    # 'NU_NOTA_COMP4',        -- Informação muito detalhada sobre a composição da nota de redação, não será usada aqui
    # 'NU_NOTA_COMP5',        -- Informação muito detalhada sobre a composição da nota de redação, não será usada aqui
    'NU_NOTA_REDACAO',
    
    # Respostas do questionário socioeconômico
    'Q001',    'Q002',    'Q003',    'Q004',    'Q005',    'Q006',    'Q007',    'Q008',    'Q009',    'Q010',
    'Q011',    'Q012',    'Q013',    'Q014',    'Q015',    'Q016',    'Q017',    'Q018',    'Q019',    'Q020',
    'Q021',    'Q022',    'Q023',    'Q024',    'Q025',

    # Respostas do questionário de hábitos de estudo durante a pandemia
    'TP_RESPOSTA',
    'Q001_hab',    'Q002_hab',    'Q003_hab',    'Q004_hab',    'Q005_hab',    'Q006_hab',    'Q007_hab',    'Q008_hab',    'Q009_hab',    'Q010_hab',
    'Q011_hab',    'Q012_hab',    'Q013_hab',    'Q014_hab',    'Q015_hab',    'Q016_hab',    'Q017_hab',    'Q018_hab',    'Q019_hab',    'Q020_hab',
    'Q021_hab',    'Q022_hab',    'Q023_hab',    'Q024_hab',    'Q025A_hab',    'Q025B_hab',    'Q025C_hab',    'Q025D_hab',    'Q025E_hab',    'Q025F_hab',
    'Q026A_hab',    'Q026B_hab',    'Q026C_hab',    'Q026D_hab',    'Q026E_hab',    'Q026F_hab',    'Q026G_hab',    'Q026H_hab',    'Q027_hab',    'Q028A_hab',
    'Q028B_hab',    'Q028C_hab',    'Q028D_hab',    'Q028E_hab',    'Q028F_hab',    'Q028G_hab',    'Q028H_hab',    'Q028I_hab',    'Q028J_hab',    'Q028K_hab',
    'Q028L_hab',    'Q028M_hab',    'Q028N_hab',    'Q028O_hab',    'Q028P_hab',    'Q028Q_hab',    'Q028R_hab',    'Q029_hab',    'Q030A_hab',    'Q030B_hab',
    'Q030C_hab',    'Q030D_hab',    'Q030E_hab',    'Q030F_hab',    'Q030G_hab',    'Q031_hab',    'Q032A_hab',    'Q032B_hab',    'Q032C_hab',    'Q032D_hab',
    'Q032E_hab',    'Q032F_hab',    'Q032G_hab',    'Q033A_hab',    'Q033B_hab',    'Q033C_hab',    'Q033D_hab',    'Q033E_hab',    'Q033F_hab',    'Q033G_hab',
    'Q033H_hab',    'Q033I_hab',    'Q033J_hab',    'Q034_hab'
]]

display(df.shape)

(50000, 139)

In [3]:
# Dicionário de mapeamento das colunas categóricas
mapeamentos = {
    'TP_FAIXA_ETARIA': {
        1: 'Menor de 17 anos',
        2: '17 anos',
        3: '18 anos',
        4: '19 anos',
        5: '20 anos',
        6: '21 anos',
        7: '22 anos',
        8: '23 anos',
        9: '24 anos',
        10: '25 anos',
        11: 'Entre 26 e 30 anos',
        12: 'Entre 31 e 35 anos',
        13: 'Entre 36 e 40 anos',
        14: 'Entre 41 e 45 anos',
        15: 'Entre 46 e 50 anos',
        16: 'Entre 51 e 55 anos',
        17: 'Entre 56 e 60 anos',
        18: 'Entre 61 e 65 anos',
        19: 'Entre 66 e 70 anos',
        20: 'Maior de 70 anos'
    },
    'TP_SEXO': {'M': 'Masculino', 'F': 'Feminino'},
    'TP_ESTADO_CIVIL': {
        0: 'Não informado',
        1: 'Solteiro(a)',
        2: 'Casado(a)/Mora com companheiro(a)',
        3: 'Divorciado(a)/Separado(a)',
        4: 'Viúvo(a)'
    },
    'TP_COR_RACA': {
        0: 'Não declarado',
        1: 'Branca',
        2: 'Preta',
        3: 'Parda',
        4: 'Amarela',
        5: 'Indígena',
        6: 'Não dispõe da informação'
    },
    'TP_NACIONALIDADE': {
        0: 'Não informado',
        1: 'Brasileiro(a)',
        2: 'Brasileiro(a) Naturalizado(a)',
        3: 'Estrangeiro(a)',
        4: 'Brasileiro(a) Nato(a), nascido(a) no exterior'
    },
    'TP_ST_CONCLUSAO': {
        1: 'Já concluí o Ensino Médio',
        2: 'Estou cursando e concluirei o Ensino Médio em 2022',
        3: 'Estou cursando e concluirei o Ensino Médio após 2022',
        4: 'Não concluí e não estou cursando o Ensino Médio'
    },
    'TP_ANO_CONCLUIU': {
        0: 'Não informado',
        1: '2021',
        2: '2020',
        3: '2019',
        4: '2018',
        5: '2017',
        6: '2016',
        7: '2015',
        8: '2014',
        9: '2013',
        10: '2012',
        11: '2011',
        12: '2010',
        13: '2009',
        14: '2008',
        15: '2007',
        16: 'Antes de 2007'
    },
    'TP_ESCOLA': {1: 'Não Respondeu', 2: 'Pública', 3: 'Privada'},
    'TP_ENSINO': {1: 'Ensino Regular', 2: 'Educação Especial'},
    'IN_TREINEIRO': {1: 'Sim', 0: 'Não'},
    'TP_DEPENDENCIA_ADM_ESC': {1: 'Federal', 2: 'Estadual', 3: 'Municipal', 4: 'Privada'},
    'TP_LOCALIZACAO_ESC': {1: 'Urbana', 2: 'Rural'},
    'TP_SIT_FUNC_ESC': {1: 'Em atividade', 2: 'Paralisada', 3: 'Extinta', 4: 'Extinta anos anteriores'},
    'TP_PRESENCA_CN': {0: 'Faltou', 1: 'Presente', 2: 'Eliminado'},
    'TP_PRESENCA_CH': {0: 'Faltou', 1: 'Presente', 2: 'Eliminado'},
    'TP_PRESENCA_LC': {0: 'Faltou', 1: 'Presente', 2: 'Eliminado'},
    'TP_PRESENCA_MT': {0: 'Faltou', 1: 'Presente', 2: 'Eliminado'},
    'TP_LINGUA': {0: 'Inglês', 1: 'Espanhol'},
    'TP_STATUS_REDACAO': {
        1: 'Sem problemas',
        2: 'Anulada',
        3: 'Cópia texto motivador',
        4: 'Em branco',
        6: 'Fuga ao tema',
        7: 'Não atendimento ao tipo textual',
        8: 'Texto insuficiente',
        9: 'Parte desconectada'
    }
}

# Aplica o mapeamento
df.replace(mapeamentos, inplace=True)
df

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q033B_hab,Q033C_hab,Q033D_hab,Q033E_hab,Q033F_hab,Q033G_hab,Q033H_hab,Q033I_hab,Q033J_hab,Q034_hab
1627841,210056517269,17 anos,Feminino,Solteiro(a),Preta,Brasileiro(a),Estou cursando e concluirei o Ensino Médio em ...,Não informado,Pública,Ensino Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
742080,210057083270,17 anos,Feminino,Solteiro(a),Preta,Brasileiro(a),Estou cursando e concluirei o Ensino Médio em ...,Não informado,Privada,Ensino Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1206379,210057631375,18 anos,Feminino,Solteiro(a),Parda,Brasileiro(a),Já concluí o Ensino Médio,2021,Não Respondeu,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2879132,210055561481,25 anos,Masculino,Solteiro(a),Branca,Brasileiro(a),Já concluí o Ensino Médio,2015,Não Respondeu,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296373,210056676350,17 anos,Feminino,Solteiro(a),Parda,Brasileiro(a),Estou cursando e concluirei o Ensino Médio em ...,Não informado,Pública,Ensino Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2534154,210057002817,18 anos,Masculino,Solteiro(a),Não declarado,Brasileiro(a),Estou cursando e concluirei o Ensino Médio em ...,Não informado,Pública,Ensino Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2965498,210057767703,17 anos,Feminino,Solteiro(a),Branca,Brasileiro(a),Estou cursando e concluirei o Ensino Médio apó...,Não informado,Não Respondeu,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2945476,210056569478,18 anos,Masculino,Solteiro(a),Branca,Brasileiro(a),Estou cursando e concluirei o Ensino Médio em ...,Não informado,Pública,Ensino Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96359,210055446081,19 anos,Feminino,Solteiro(a),Branca,Brasileiro(a),Estou cursando e concluirei o Ensino Médio em ...,Não informado,Pública,Ensino Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
723420,210056112048,17 anos,Feminino,Solteiro(a),Preta,Brasileiro(a),Estou cursando e concluirei o Ensino Médio em ...,Não informado,Pública,Ensino Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Descrição do dataset e das colunas (exceto as dos questionários)
display(df.info())

for col in df.columns:
    if col == 'Q001':
        break

    print(col)
    print(df[col].describe())
    print()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 1627841 to 723420
Columns: 139 entries, NU_INSCRICAO to Q034_hab
dtypes: float64(6), int64(2), object(131)
memory usage: 53.4+ MB

None

NU_INSCRICAO
count    5.000000e+04
mean     2.100563e+11
std      1.025726e+06
min      2.100545e+11
25%      2.100554e+11
50%      2.100563e+11
75%      2.100571e+11
max      2.100580e+11
Name: NU_INSCRICAO, dtype: float64

TP_FAIXA_ETARIA
count       50000
unique         20
top       18 anos
freq        11750
Name: TP_FAIXA_ETARIA, dtype: object

TP_SEXO
count        50000
unique           2
top       Feminino
freq         30661
Name: TP_SEXO, dtype: object

TP_ESTADO_CIVIL
count           50000
unique              5
top       Solteiro(a)
freq            44885
Name: TP_ESTADO_CIVIL, dtype: object

TP_COR_RACA
count     50000
unique        6
top       Parda
freq      21373
Name: TP_COR_RACA, dtype: object

TP_NACIONALIDADE
count             50000
unique                5
top       Brasileiro(a)
freq              48760
Name: TP_NACIONALIDADE, dtype: object

TP_ST_CONCLUSAO
count                         50000
unique                            4
top       Já concluí o Ensino Médio
freq                          23465
Name: TP_ST_CONCLUSAO, dtype: object

TP_ANO_CONCLUIU
count             50000
unique               17
top       Não informado
freq              28915
Name: TP_ANO_CONCLUIU, dtype: object

TP_ESCOLA
count             50000
unique                3
top       Não Respondeu
freq              30955
Name: TP_ESCOLA, dtype: object

TP_ENSINO
count              18248
unique                 2
top       Ensino Regular
freq               18135
Name: TP_ENSINO, dtype: object

IN_TREINEIRO
count     50000
unique        2
top         Não
freq      42670
Name: IN_TREINEIRO, dtype: object

NO_MUNICIPIO_ESC
count         13765
unique         2485
top       São Paulo
freq            718
Name: NO_MUNICIPIO_ESC, dtype: object

SG_UF_ESC
count     13765
unique       27
top          SP
freq       2730
Name: SG_UF_ESC, dtype: object

TP_DEPENDENCIA_ADM_ESC
count        13765
unique           4
top       Estadual
freq          9668
Name: TP_DEPENDENCIA_ADM_ESC, dtype: object

TP_LOCALIZACAO_ESC
count      13765
unique         2
top       Urbana
freq       13316
Name: TP_LOCALIZACAO_ESC, dtype: object

TP_SIT_FUNC_ESC
count            13765
unique               4
top       Em atividade
freq             13669
Name: TP_SIT_FUNC_ESC, dtype: object

NO_MUNICIPIO_PROVA
count         50000
unique         1693
top       São Paulo
freq           2132
Name: NO_MUNICIPIO_PROVA, dtype: object

SG_UF_PROVA
count     50000
unique       27
top          SP
freq       7760
Name: SG_UF_PROVA, dtype: object

TP_PRESENCA_CN
count        50000
unique           3
top       Presente
freq         33998
Name: TP_PRESENCA_CN, dtype: object

TP_PRESENCA_CH
count        50000
unique           3
top       Presente
freq         35896
Name: TP_PRESENCA_CH, dtype: object

TP_PRESENCA_LC
count        50000
unique           3
top       Presente
freq         35896
Name: TP_PRESENCA_LC, dtype: object

TP_PRESENCA_MT
count        50000
unique           3
top       Presente
freq         33998
Name: TP_PRESENCA_MT, dtype: object

NU_NOTA_CN
count    33998.000000
mean       495.842955
std         72.046299
min          0.000000
25%        440.200000
50%        485.800000
75%        542.900000
max        817.000000
Name: NU_NOTA_CN, dtype: float64

NU_NOTA_CH
count    35896.000000
mean       526.896782
std         80.567407
min          0.000000
25%        476.800000
50%        529.400000
75%        581.100000
max        821.900000
Name: NU_NOTA_CH, dtype: float64

NU_NOTA_LC
count    35896.000000
mean       517.290032
std         77.365889
min          0.000000
25%        467.900000
50%        525.500000
75%        573.200000
max        768.900000
Name: NU_NOTA_LC, dtype: float64

NU_NOTA_MT
count    33998.000000
mean       541.861918
std        116.603289
min          0.000000
25%        448.100000
50%        528.900000
75%        621.700000
max        981.700000
Name: NU_NOTA_MT, dtype: float64

TP_LINGUA
count      50000
unique         2
top       Inglês
freq       27341
Name: TP_LINGUA, dtype: object

TP_STATUS_REDACAO
count             35896
unique                8
top       Sem problemas
freq              34044
Name: TP_STATUS_REDACAO, dtype: object

NU_NOTA_REDACAO
count    35896.000000
mean       619.330287
std        211.501461
min          0.000000
25%        520.000000
50%        620.000000
75%        760.000000
max        980.000000
Name: NU_NOTA_REDACAO, dtype: float64

In [8]:
# Dicionário de mapeamento das colunas categóricas do questionário socioeconômico
mapeamentos_socio = {
    'Q001': {
        'A': 'Nunca estudou.',
        'B': 'Não completou a 4ª série/5º ano do Ensino Fundamental.',
        'C': 'Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.',
        'D': 'Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.',
        'E': 'Completou o Ensino Médio, mas não completou a Faculdade.',
        'F': 'Completou a Faculdade, mas não completou a Pós-graduação.',
        'G': 'Completou a Pós-graduação.',
        'H': 'Não sei.'
    },
    'Q002': {
        'A': 'Nunca estudou.',
        'B': 'Não completou a 4ª série/5º ano do Ensino Fundamental.',
        'C': 'Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.',
        'D': 'Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.',
        'E': 'Completou o Ensino Médio, mas não completou a Faculdade.',
        'F': 'Completou a Faculdade, mas não completou a Pós-graduação.',
        'G': 'Completou a Pós-graduação.',
        'H': 'Não sei.'
    },
    'Q003': {
        'A': 'Grupo 1: Agricultor, pescador, extrativista.',
        'B': 'Grupo 2: Empregado doméstico, vigilante, porteiro, vendedor, caixa.',
        'C': 'Grupo 3: Cozinheiro, operário de fábrica, motorista, eletricista.',
        'D': 'Grupo 4: Professor, técnico, policial, gerente, microempresário.',
        'E': 'Grupo 5: Médico, engenheiro, advogado, juiz, diretor de empresa.',
        'F': 'Não sei.'
    },
    'Q004': {
        'A': 'Grupo 1: Agricultora, pescadora, extrativista.',
        'B': 'Grupo 2: Empregada doméstica, vigilante, porteira, vendedora, caixa.',
        'C': 'Grupo 3: Cozinheira, operária de fábrica, motorista, eletricista.',
        'D': 'Grupo 4: Professora, técnica, policial, gerente, microempresária.',
        'E': 'Grupo 5: Médica, engenheira, advogada, juíza, diretora de empresa.',
        'F': 'Não sei.'
    },
    'Q005': {i: str(i) for i in range(1, 21)},  # Quantidade de pessoas na residência
    'Q006': {
        'A': 'Nenhuma Renda',
        'B': 'Até R$ 1.212,00',
        'C': 'De R$ 1.212,01 até R$ 1.818,00.',
        'D': 'De R$ 1.818,01 até R$ 2.424,00.',
        'E': 'De R$ 2.424,01 até R$ 3.030,00.',
        'F': 'De R$ 3.030,01 até R$ 3.636,00.',
        'G': 'De R$ 3.636,01 até R$ 4.848,00.',
        'H': 'De R$ 4.848,01 até R$ 6.060,00.',
        'I': 'De R$ 6.060,01 até R$ 7.272,00.',
        'J': 'De R$ 7.272,01 até R$ 8.484,00.',
        'K': 'De R$ 8.484,01 até R$ 9.696,00.',
        'L': 'De R$ 9.696,01 até R$ 10.908,00.',
        'M': 'De R$ 10.908,01 até R$ 12.120,00.',
        'N': 'De R$ 12.120,01 até R$ 14.544,00.',
        'O': 'De R$ 14.544,01 até R$ 18.180,00.',
        'P': 'De R$ 18.180,01 até R$ 24.240,00.',
        'Q': 'Acima de R$ 24.240,00.'
    },
    'Q007': {
        'A': 'Não.',
        'B': 'Sim, um ou dois dias por semana.',
        'C': 'Sim, três ou quatro dias por semana.',
        'D': 'Sim, pelo menos cinco dias por semana.'
    }
}

# Mapeia perguntas sobre bens de consumo (Q008 a Q033)
for i in range(8, 34):
    col = f'Q{i:03d}'
    mapeamentos_socio[col] = {
        'A': 'Não.',
        'B': 'Sim, um.',
        'C': 'Sim, dois.',
        'D': 'Sim, três.',
        'E': 'Sim, quatro ou mais.'
    }

# Mapeia perguntas de acesso a internet e serviços digitais
for col in ['Q034', 'Q035', 'Q036']:
    mapeamentos_socio[col] = {
        'A': 'Não.',
        'B': 'Sim.'
    }

# Dicionário de mapeamento das colunas categóricas do questionário de hábitos de estudo
mapeamentos_hab = {
    'TP_RESPOSTA_hab': {
        0: 'Não (Participante optou por não responder o questionário)',
        1: 'Sim (Participante optou por responder o questionário)',
        2: 'Responder Depois'
    },
    'Q001_hab': {
        'A': 'Eu estive matriculado(a) no Ensino Médio regular.',
        'B': 'Eu estive matriculado(a) no Ensino Médio, em turma de EJA.',
        'C': 'Eu estive matriculado(a) no Ensino Médio integrado à Educação Profissional.',
        'D': 'Eu concluí o Ensino Médio antes de 2021.',
        'E': 'Eu não concluí o Ensino Médio e nem estive matriculado(a) nesse período.'
    },
    'Q002_hab': {
        'A': 'Eu continuei os estudos sem interromper o ano letivo.',
        'B': 'Eu decidi interromper os estudos no primeiro ano da pandemia, mas me rematriculei em 2021.',
        'C': 'Eu fui levado a interromper os estudos no primeiro ano da pandemia por não ter recebido suporte da escola, mas me rematriculei em 2021.'
    },
    'Q003_hab': {
        'A': 'Eu apenas tive aulas presenciais nesse período.',
        'B': 'Eu apenas estudei em casa de forma remota nesse período.',
        'C': 'Eu estudei de forma híbrida, ou seja, em casa remotamente e em aulas presenciais.',
        'D': 'Eu realizei atividades de estudo diversas, mas sem estar matriculado(a) no Ensino Médio.',
        'E': 'Eu não estive matriculado(a) regularmente, nem realizei atividades de estudo.'
    },
    'Q004_hab': {
        'A': 'Eu aprendi mais no ensino remoto (estudando somente em casa).',
        'B': 'Eu aprendi mais estudando de forma híbrida.',
        'C': 'Eu aprendi mais estudando de forma presencial.',
        'D': 'Eu aprendi no ensino remoto ou híbrido na mesma medida de quando eu estava no ensino presencial.',
        'E': 'Eu não estive matriculado(a) em 2021, mas aprendi estudando por conta própria.',
        'F': 'Eu não estive matriculado(a) em 2021 e nem estudei.'
    },
}

# Mapeia perguntas de estudo (Q005 a Q034)
for i in range(5, 35):
    col = f'Q{i:03d}_hab'
    
    if i <= 24:
        mapeamentos_hab[col] = {
            'A': 'Nenhuma vez.',
            'B': 'Poucas vezes.',
            'C': 'Muitas vezes.',
            'D': 'Em todas as vezes.'
        }
    elif i == 25 or i == 26:
        for sub in 'ABCDEFGH':
            mapeamentos_hab[f'Q{i:03d}{sub}_hab'] = {
                'A': 'Sim.',
                'B': 'Não.'
            }
    elif i == 27 or i == 29:
        mapeamentos_hab[col] = {
            'A': 'Sim.',
            'B': 'Não.'
        }
    elif i == 28 or i == 30 or i == 32 or i == 33:
        for sub in 'ABCDEFGHIJKLMNOPQ':
            mapeamentos_hab[f'Q{i:03d}{sub}_hab'] = {
                'A': 'Sim.',
                'B': 'Não.'
            }
    elif i == 31:
        mapeamentos_hab[col] = {
            'A': 'Sim.',
            'B': 'Não.',
            'C': 'Precisei de ajuda para estudar, mas não tive ninguém para me auxiliar.'
        }
    elif i == 34:
        mapeamentos_hab[col] = {
            'A': 'Nada preparado(a).',
            'B': 'Um pouco preparado(a).',
            'C': 'Bem preparado(a).',
            'D': 'Muito preparado(a).',
            'E': 'Totalmente preparado(a).'
        }

mapeamento_tp_resposta = {
    0: 'Não (Participante optou por não responder o questionário).',
    1: 'Sim (Participante optou por responder o questionário).',
    2: 'Responder Depois'
}

# Aplica os mapeamentos
df.replace(mapeamentos_socio, inplace=True)
df.replace(mapeamentos_hab, inplace=True)
df['TP_RESPOSTA'].replace(mapeamento_tp_resposta, inplace=True)
df

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q033B_hab,Q033C_hab,Q033D_hab,Q033E_hab,Q033F_hab,Q033G_hab,Q033H_hab,Q033I_hab,Q033J_hab,Q034_hab
1627841,210056517269,17 anos,Feminino,Solteiro(a),Preta,Brasileiro(a),Estou cursando e concluirei o Ensino Médio em ...,Não informado,Pública,Ensino Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nada preparado(a).
742080,210057083270,17 anos,Feminino,Solteiro(a),Preta,Brasileiro(a),Estou cursando e concluirei o Ensino Médio em ...,Não informado,Privada,Ensino Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1206379,210057631375,18 anos,Feminino,Solteiro(a),Parda,Brasileiro(a),Já concluí o Ensino Médio,2021,Não Respondeu,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2879132,210055561481,25 anos,Masculino,Solteiro(a),Branca,Brasileiro(a),Já concluí o Ensino Médio,2015,Não Respondeu,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296373,210056676350,17 anos,Feminino,Solteiro(a),Parda,Brasileiro(a),Estou cursando e concluirei o Ensino Médio em ...,Não informado,Pública,Ensino Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2534154,210057002817,18 anos,Masculino,Solteiro(a),Não declarado,Brasileiro(a),Estou cursando e concluirei o Ensino Médio em ...,Não informado,Pública,Ensino Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2965498,210057767703,17 anos,Feminino,Solteiro(a),Branca,Brasileiro(a),Estou cursando e concluirei o Ensino Médio apó...,Não informado,Não Respondeu,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2945476,210056569478,18 anos,Masculino,Solteiro(a),Branca,Brasileiro(a),Estou cursando e concluirei o Ensino Médio em ...,Não informado,Pública,Ensino Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96359,210055446081,19 anos,Feminino,Solteiro(a),Branca,Brasileiro(a),Estou cursando e concluirei o Ensino Médio em ...,Não informado,Pública,Ensino Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
723420,210056112048,17 anos,Feminino,Solteiro(a),Preta,Brasileiro(a),Estou cursando e concluirei o Ensino Médio em ...,Não informado,Pública,Ensino Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Descrição das colunas dos questionários
for col in df.columns:
    if col[0] != 'Q':
        continue

    print(col)
    print(df[col].describe())
    print()

Q001
count                                                 50000
unique                                                    8
top       Completou o Ensino Médio, mas não completou a ...
freq                                                  14406
Name: Q001, dtype: object

Q002
count                                                 50000
unique                                                    8
top       Completou o Ensino Médio, mas não completou a ...
freq                                                  17657
Name: Q002, dtype: object

Q003
count                                                 50000
unique                                                    6
top       Grupo 3: Cozinheiro, operário de fábrica, moto...
freq                                                  11450
Name: Q003, dtype: object

Q004
count                                                 50000
unique                                                    6
top       Grupo 2: Empregada doméstica, vigilante, porte...
freq                                                  20306
Name: Q004, dtype: object

Q005
count     50000
unique       19
top           4
freq      16627
Name: Q005, dtype: object

Q006
count               50000
unique                 17
top       Até R$ 1.212,00
freq                14817
Name: Q006, dtype: object

Q007
count     50000
unique        4
top        Não.
freq      45539
Name: Q007, dtype: object

Q008
count        50000
unique           5
top       Sim, um.
freq         32376
Name: Q008, dtype: object

Q009
count          50000
unique             5
top       Sim, dois.
freq           24577
Name: Q009, dtype: object

Q010
count     50000
unique        5
top        Não.
freq      25921
Name: Q010, dtype: object

Q011
count     50000
unique        5
top        Não.
freq      37632
Name: Q011, dtype: object

Q012
count        50000
unique           5
top       Sim, um.
freq         46497
Name: Q012, dtype: object

Q013
count     50000
unique        5
top        Não.
freq      26582
Name: Q013, dtype: object

Q014
count        50000
unique           5
top       Sim, um.
freq         31359
Name: Q014, dtype: object

Q015
count     50000
unique        5
top        Não.
freq      43220
Name: Q015, dtype: object

Q016
count     50000
unique        5
top        Não.
freq      24842
Name: Q016, dtype: object

Q017
count     50000
unique        5
top        Não.
freq      48217
Name: Q017, dtype: object

Q018
count     50000
unique        2
top        Não.
freq      37700
Name: Q018, dtype: object

Q019
count        50000
unique           5
top       Sim, um.
freq         32368
Name: Q019, dtype: object

Q020
count     50000
unique        2
top        Não.
freq      41523
Name: Q020, dtype: object

Q021
count     50000
unique        2
top        Não.
freq      38629
Name: Q021, dtype: object

Q022
count          50000
unique             5
top       Sim, três.
freq           15012
Name: Q022, dtype: object

Q023
count     50000
unique        2
top        Não.
freq      43964
Name: Q023, dtype: object

Q024
count     50000
unique        5
top        Não.
freq      23351
Name: Q024, dtype: object

Q025
count        50000
unique           2
top       Sim, um.
freq         45264
Name: Q025, dtype: object

Q001_hab
count                                                 11973
unique                                                    5
top       Eu estive matriculado(a) no Ensino Médio regular.
freq                                                   6856
Name: Q001_hab, dtype: object

Q002_hab
count                                                  7778
unique                                                    3
top       Eu continuei os estudos sem interromper o ano ...
freq                                                   7271
Name: Q002_hab, dtype: object

Q003_hab
count                                                 11160
unique                                                    5
top       Eu estudei de forma híbrida, ou seja, em casa ...
freq                                                   4249
Name: Q003_hab, dtype: object

Q004_hab
count                                              10831
unique                                                 6
top       Eu aprendi mais estudando de forma presencial.
freq                                                6787
Name: Q004_hab, dtype: object

Q005_hab
count             10628
unique                4
top       Poucas vezes.
freq               5566
Name: Q005_hab, dtype: object

Q006_hab
count             10356
unique                4
top       Poucas vezes.
freq               5419
Name: Q006_hab, dtype: object

Q007_hab
count             10180
unique                4
top       Poucas vezes.
freq               4774
Name: Q007_hab, dtype: object

Q008_hab
count             10046
unique                4
top       Poucas vezes.
freq               4962
Name: Q008_hab, dtype: object

Q009_hab
count              9878
unique                4
top       Poucas vezes.
freq               4663
Name: Q009_hab, dtype: object

Q010_hab
count              9705
unique                4
top       Poucas vezes.
freq               3919
Name: Q010_hab, dtype: object

Q011_hab
count              9575
unique                4
top       Poucas vezes.
freq               3929
Name: Q011_hab, dtype: object

Q012_hab
count              9474
unique                4
top       Poucas vezes.
freq               3953
Name: Q012_hab, dtype: object

Q013_hab
count              9383
unique                4
top       Poucas vezes.
freq               4070
Name: Q013_hab, dtype: object

Q014_hab
count              9277
unique                4
top       Poucas vezes.
freq               4452
Name: Q014_hab, dtype: object

Q015_hab
count              9201
unique                4
top       Poucas vezes.
freq               3607
Name: Q015_hab, dtype: object

Q016_hab
count              9082
unique                4
top       Poucas vezes.
freq               3589
Name: Q016_hab, dtype: object

Q017_hab
count              8972
unique                4
top       Poucas vezes.
freq               3932
Name: Q017_hab, dtype: object

Q018_hab
count              8903
unique                4
top       Poucas vezes.
freq               3589
Name: Q018_hab, dtype: object

Q019_hab
count              8875
unique                4
top       Poucas vezes.
freq               3767
Name: Q019_hab, dtype: object

Q020_hab
count             8853
unique               4
top       Nenhuma vez.
freq              4000
Name: Q020_hab, dtype: object

Q021_hab
count              8816
unique                4
top       Poucas vezes.
freq               2720
Name: Q021_hab, dtype: object

Q022_hab
count              8779
unique                4
top       Poucas vezes.
freq               2961
Name: Q022_hab, dtype: object

Q023_hab
count              8733
unique                4
top       Poucas vezes.
freq               3709
Name: Q023_hab, dtype: object

Q024_hab
count              8709
unique                4
top       Poucas vezes.
freq               3926
Name: Q024_hab, dtype: object

Q025A_hab
count     8692
unique       2
top       Não.
freq      8621
Name: Q025A_hab, dtype: object

Q025B_hab
count     8692
unique       2
top       Não.
freq      4579
Name: Q025B_hab, dtype: object

Q025C_hab
count     8692
unique       2
top       Não.
freq      5935
Name: Q025C_hab, dtype: object

Q025D_hab
count     8692
unique       2
top       Não.
freq      8449
Name: Q025D_hab, dtype: object

Q025E_hab
count     8692
unique       2
top       Sim.
freq      6280
Name: Q025E_hab, dtype: object

Q025F_hab
count     8692
unique       2
top       Não.
freq      8163
Name: Q025F_hab, dtype: object

Q026A_hab
count     8664
unique       2
top       Não.
freq      7424
Name: Q026A_hab, dtype: object

Q026B_hab
count     8664
unique       2
top       Não.
freq      7156
Name: Q026B_hab, dtype: object

Q026C_hab
count     8664
unique       2
top       Não.
freq      6314
Name: Q026C_hab, dtype: object

Q026D_hab
count     8664
unique       2
top       Não.
freq      4673
Name: Q026D_hab, dtype: object

Q026E_hab
count     8664
unique       2
top       Não.
freq      8607
Name: Q026E_hab, dtype: object

Q026F_hab
count     8664
unique       2
top       Não.
freq      8060
Name: Q026F_hab, dtype: object

Q026G_hab
count     8664
unique       2
top       Não.
freq      6618
Name: Q026G_hab, dtype: object

Q026H_hab
count     8664
unique       2
top       Não.
freq      6311
Name: Q026H_hab, dtype: object

Q027_hab
count     8653
unique       2
top       Sim.
freq      6697
Name: Q027_hab, dtype: object

Q028A_hab
count     6655
unique       2
top       Não.
freq      4269
Name: Q028A_hab, dtype: object

Q028B_hab
count     6655
unique       2
top       Sim.
freq      3787
Name: Q028B_hab, dtype: object

Q028C_hab
count     6655
unique       2
top       Não.
freq      5362
Name: Q028C_hab, dtype: object

Q028D_hab
count     6655
unique       2
top       Não.
freq      5532
Name: Q028D_hab, dtype: object

Q028E_hab
count     6655
unique       2
top       Não.
freq      5783
Name: Q028E_hab, dtype: object

Q028F_hab
count     6655
unique       2
top       Não.
freq      5413
Name: Q028F_hab, dtype: object

Q028G_hab
count     6655
unique       2
top       Não.
freq      3503
Name: Q028G_hab, dtype: object

Q028H_hab
count     6655
unique       2
top       Não.
freq      4457
Name: Q028H_hab, dtype: object

Q028I_hab
count     6655
unique       2
top       Não.
freq      4926
Name: Q028I_hab, dtype: object

Q028J_hab
count     6655
unique       2
top       Não.
freq      4660
Name: Q028J_hab, dtype: object

Q028K_hab
count     6655
unique       2
top       Não.
freq      6167
Name: Q028K_hab, dtype: object

Q028L_hab
count     6655
unique       2
top       Não.
freq      6040
Name: Q028L_hab, dtype: object

Q028M_hab
count     6655
unique       2
top       Não.
freq      6353
Name: Q028M_hab, dtype: object

Q028N_hab
count     6655
unique       2
top       Não.
freq      6203
Name: Q028N_hab, dtype: object

Q028O_hab
count     6655
unique       2
top       Não.
freq      6380
Name: Q028O_hab, dtype: object

Q028P_hab
count     6655
unique       2
top       Não.
freq      6227
Name: Q028P_hab, dtype: object

Q028Q_hab
count     6655
unique       2
top       Não.
freq      6130
Name: Q028Q_hab, dtype: object

Q028R_hab
count     6655
unique       2
top          B
freq      6299
Name: Q028R_hab, dtype: object

Q029_hab
count     8587
unique       2
top       Não.
freq      4637
Name: Q029_hab, dtype: object

Q030A_hab
count     3922
unique       2
top       Não.
freq      2450
Name: Q030A_hab, dtype: object

Q030B_hab
count     3922
unique       2
top       Sim.
freq      2202
Name: Q030B_hab, dtype: object

Q030C_hab
count     3922
unique       2
top       Não.
freq      3101
Name: Q030C_hab, dtype: object

Q030D_hab
count     3922
unique       2
top       Não.
freq      3011
Name: Q030D_hab, dtype: object

Q030E_hab
count     3922
unique       2
top       Não.
freq      3376
Name: Q030E_hab, dtype: object

Q030F_hab
count     3922
unique       2
top       Não.
freq      3649
Name: Q030F_hab, dtype: object

Q030G_hab
count     3922
unique       2
top       Não.
freq      3808
Name: Q030G_hab, dtype: object

Q031_hab
count     8555
unique       3
top       Sim.
freq      3239
Name: Q031_hab, dtype: object

Q032A_hab
count     3237
unique       2
top       Sim.
freq      1840
Name: Q032A_hab, dtype: object

Q032B_hab
count     3237
unique       2
top       Não.
freq      3163
Name: Q032B_hab, dtype: object

Q032C_hab
count     3237
unique       2
top       Não.
freq      2927
Name: Q032C_hab, dtype: object

Q032D_hab
count     3237
unique       2
top       Não.
freq      2945
Name: Q032D_hab, dtype: object

Q032E_hab
count     3237
unique       2
top       Não.
freq      2343
Name: Q032E_hab, dtype: object

Q032F_hab
count     3237
unique       2
top       Não.
freq      2082
Name: Q032F_hab, dtype: object

Q032G_hab
count     3237
unique       2
top       Não.
freq      3153
Name: Q032G_hab, dtype: object

Q033A_hab
count     3227
unique       2
top       Não.
freq      2710
Name: Q033A_hab, dtype: object

Q033B_hab
count     3227
unique       2
top       Não.
freq      2177
Name: Q033B_hab, dtype: object

Q033C_hab
count     3227
unique       2
top       Não.
freq      2978
Name: Q033C_hab, dtype: object

Q033D_hab
count     3227
unique       2
top       Não.
freq      2994
Name: Q033D_hab, dtype: object

Q033E_hab
count     3227
unique       2
top       Não.
freq      2988
Name: Q033E_hab, dtype: object

Q033F_hab
count     3227
unique       2
top       Não.
freq      2721
Name: Q033F_hab, dtype: object

Q033G_hab
count     3227
unique       2
top       Não.
freq      2669
Name: Q033G_hab, dtype: object

Q033H_hab
count     3227
unique       2
top       Não.
freq      3070
Name: Q033H_hab, dtype: object

Q033I_hab
count     3227
unique       2
top       Não.
freq      3053
Name: Q033I_hab, dtype: object

Q033J_hab
count     3227
unique       2
top       Não.
freq      2101
Name: Q033J_hab, dtype: object

Q034_hab
count                       8529
unique                         5
top       Um pouco preparado(a).
freq                        4504
Name: Q034_hab, dtype: object

In [10]:
# Salva o dataframe pré-processado para a etapa seguinte (EDA)
df.to_csv('../data/df_prep.csv', sep=';', encoding='iso-8859-1', index=False)